/* ul li{
    text-align: left;
    width: fit-content;
  }
  ul{
    width: fit-content;
    margin: auto;
  } */

  
  .team-img {
    height: 300px;
  }
  .team-img img {
    width: 100%;
    height: 280px;
  }