.team-img {
    height: 310px;
  }
  .team-img img {
    width: 100%;
    height: 320px;
  }
  .team-content h5 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
  }
  .team-content p {
    margin-bottom: 0;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
  }